* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
  margin: 0 auto;
}

input {
  font-size: 1.5em;
}
button {
  font-size: 1.5em;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Cards */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  gap: 1em;
  transition: 0.5s;
}

.overlay {
  position: absolute;
  font-size: 2em;
  font-weight: bolder;
  z-index: 2;
  opacity: 0;
  width: inherit;
  height: inherit;
  text-align: center;
}

/* when the card is hovered  make the overlay opacity trigger*/
.card:hover .overlay {
  opacity: 0.7;
}

.card-btn {
  max-width: 100%;
  font-size: 1em;
}

.cards-container {
  margin-top: 1em;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

img {
  width: 223px;
  height: 310px;
}

/* nav */
nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

nav a {
  color: inherit;
  padding: 1em;
  text-decoration: none;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
