*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.App {
    text-align: center;
    margin: 0 auto;
}
/* Cards */

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.card-btn {
    max-width: 100%;
}

.cards-container{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

img {
    width: 223px;
    height: 310px;
}

/* nav */
nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

nav a {
    color: inherit;
    padding: 1em;
    text-decoration: none;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
